name: CI

on:
  workflow_dispatch:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]

jobs:
  run:
    name: Import new benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout benchmarks repository
        uses: actions/checkout@v2

      - name: Checkout resctl-demo repository
        uses: actions/checkout@v2
        with:
          repository: 'kov/resctl-demo'
          path: 'resctl-demo'
          ref: easy-to-use-basic-info

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build our tools
        run: cargo build --release --all-features

      - name: Build resctl-demo
        run: cd ${GITHUB_WORKSPACE}/resctl-demo && cargo build --release --bin resctl-bench

      - name: Download results
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: ./target/release/import-results
