name: CI

on:
  workflow_dispatch:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]

jobs:
  run:
    name: Run CI scripts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout benchmarks repository
        uses: actions/checkout@v2

      - name: Download import-results binary
        uses: dawidd6/action-download-artifact@v2
        with:
          repo: 'kov/iocost-benchmarks-ci'
          workflow: ci.yml
          branch: main

      - name: Set import-results binary permissions
        run: |
          chmod +x iocost-benchmarks-ci/import-results

      - name: Download resctl-demo binary
        uses: dawidd6/action-download-artifact@v2
        with:
          repo: 'kov/iocost-benchmarks-ci'
          workflow: build-resctl-demo.yml
          branch: main

      - name: Set resctl-demo permissions
        run: |
          chmod +x resctl-demo/*

      - name: Smoketest resctl-demo
        run: >
          resctl-demo/resctl-bench --version;
          echo ${GITHUB_WORKSPACE}/resctl-demo >> $GITHUB_PATH

      - name: Run import-results
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: iocost-benchmarks-ci/import-results

      - name: Push to git
        env:
          ISSUE_NUMBER: ${{ github.event.issue.number }}
        run: |
          git push -f origin iocost-bot/${ISSUE_NUMBER}
          echo 'BRANCH_NAME<<EOF' >> $GITHUB_ENV
          echo iocost-bot/${ISSUE_NUMBER} >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: PR title
        run: |
          echo 'PR_TITLE<<EOF' >> $GITHUB_ENV
          git log --pretty='format:%s' ${{ env.BRANCH_NAME }}^..${{ env.BRANCH_NAME }} >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: PR body
        run: |
          echo 'PR_BODY<<EOF' >> $GITHUB_ENV
          git log --pretty='format:%b' ${{ env.BRANCH_NAME }}^..${{ env.BRANCH_NAME }} >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Pull request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: "${{ env.BRANCH_NAME }}"
          destination_branch: "main"
          pr_title: "${{ env.PR_TITLE }}"
          pr_body: "${{ env.PR_BODY }}"
          github_token: ${{ secrets.GH_TOKEN }}